*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

section{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    width:30%;
    /* float: left; */
    display: flex;
    flex-direction: column;
    /* margin-left: 90px;*/
     margin-bottom: 30px; 
    box-shadow: 10px 10px -10px -10px 30px rgb(104, 101, 101);
    border-radius: 30px;
    box-shadow: 2px 0 3px rgb(227, 220, 220),-2px -0 10px rgb(227, 220, 220);
    font-family: Calibri ;
    transition-duration: 2s;
}
.item img{
    width: 100%;
    height: 300px;
    border-top-left-radius:30px ;
    border-top-right-radius: 30px;

}
.item h1{
    padding:20px 15px 0 15px;
}
.item p{
    padding: 30px;
    color: rgb(105, 105, 101);
}
.btn{
    display: flex;
    gap:15px;
        justify-content: center;
    padding: 20px;
}
.item span{
    /* float: left; */
    /* margin:  0 20px  20px 20px; */
    background-color:rgb(245, 237, 237) ;
    padding: 5px;
    border-radius: 10px;
    color: rgb(105, 105, 101);
}
span:hover{
    /* margin:  0 20px  20px 20px; */
    background-color:blueviolet ;
    padding: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.item:hover{
    box-shadow:  5px 0 25px rgb(229, 190, 249), -5px -0 25px rgb(229, 190, 249) ;
    transform: translateY(-30px);
    
}
@media screen and (max-width:1060px){
    .btn{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
@media screen and (max-width:950px){
    .item{
        width: 45%;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:600px){
    .item{
        width: 100%;
    }
}